
.Nav {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.LG {
    margin: 1rem;
    height: auto;
    width: 14rem;
}

.Content {
    height: 100%;
    width: 100%;
}
.Box {
    margin-left: 25%;
    height: auto;
    max-width: 700px;
    color: black;
    background: rgba(255, 255, 255, 1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.47);
}