* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'primefont';
  src: local('primefont'), url(./fonts/primefont.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
body {
  margin: 0;
  font-family: primefont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f171e;
  color: white;
  max-width: 100vw;
  overflow-y: scroll;
}

.out-home {
  margin: 2% 3.5%;
}

.banner-img {
  width: 100%;
}

.smallBanner-img {
  width: 100%;
  opacity: 0.6;
}

.movielist-wrapper {
  display: grid;
  grid-template-columns: auto;
}

.movie-img {
  width: 100%;
  height: 100%;
}

.slider-wrapper {
  margin-top: 40px;
}

.splide-custom {
  margin-top: 10px;
}

.img-name {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 1.2rem;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.info-wrapper {
  max-width: 45%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 30px;
}

.info-link {
  text-decoration: none;
  color: #389aec;
}

.media-card {
  position: relative;
  transition: 2s ease;
  /* Animation */
}

.media-card:hover {
  transform: scale(1.1);
  /* border:3px solid #389aec; */
}

.media-card:hover>.card-content {
  display: none;
}

.card-content-extra {
  display: none;
}

.media-card:hover>.card-content-extra {
  display: block;
}

.play-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 10px;
  margin-bottom: 30px;
}

.left {
  margin-bottom: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
}

.right {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0;
}

.media {
  position: relative;
  background-color: white;
  height: 69vh;
}

.trailer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: fit-content;
  height: 100%;
  opacity: 0.5;
}

.transbox {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, rgba(255, 0, 0, 0), rgb(8, 16, 23, 1));
}

.extradetail {
  display: inline-block;
  margin-right: 10px;
}

.main-nav-bar {
  height: 80px;
  display: flex;
  justify-content: center;
}

.search-div {
  position: absolute;
  right: 15%;
}

.search-icon {
  display: none;
  color: grey;
  font-size: larger;
}

.search-icon:hover {
  color: white;
}

.searchbox {
  display: none;
  background-color: #0f171e;
  outline: none;
  border: 1px solid white;
  font-size: 1.2rem;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 40px;
  padding-right: 8px;
  color: white;
}
.input-box{
  display: none;
}
.input-icon {
  color: white;
  position: absolute;
  margin-left: 5px;
  margin-right:10px;
  margin-top: 8px;
  text-align: center;
}
.searchbox2{
  background-color: #0f171e;
  outline: none;
  border: 1px solid white;
  font-size: 1.2rem;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 40px;
  padding-right: 8px;
  color: white;
}
.menu-div {
  position: absolute;
  right: 4%;
 }
/*
.images {
  background-image: url('./images/primeimage.jpg');
  height: 26rem;
  width: 35rem;
}

@media only screen and (max-width: 500px) {
  .images {
      background-image: url('./images/primeimage.jpg'), ;
      background-repeat: no-repeat;
      height: 1rem;
      width: 1rem;
  }
}



@media only screen and (max-width: 1250px) {
  .images {
      background-image: url('./images/primeimage.jpg'), ;
      background-repeat: no-repeat;
      height: 25rem;
      width: 30rem;
  }
} */

.realForm{
  position: relative;
  width: 350px;
  height: 450px;
  background-color: rgba(255, 255, 255, .9);
  border: 1px solid white;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  margin:70px;
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .realForm {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

.loginForm,
.registerForm {
  height: 89vh;
  background-image: url('../public/resources/images/jpeg/loginbg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding: 4px;
}
.admin-links
{
    color: white;
    text-decoration: none;
    font-size:1.1rem;
    margin-bottom: 10px;
    margin-left: 20px;
}
.admin
{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}