*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color:#0f171e;
    color: white;
    max-width: 100vw;
    overflow-y:scroll;
}
.out-home{
  margin: 2% 3.5%;
}
.banner-img{
    width: 100%;
  }
.smallBanner-img{
    width: 100%;
    opacity: 0.6;    
}
.movielist-wrapper{
  display: grid;
  grid-template-columns: auto;
}
.movie-img{
  width: 100%;
  height: 100%;
}
.slider-wrapper{
  margin-top: 40px;
}
.splide-custom{
  margin-top: 10px;
}
.img-name{
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 1.2rem;
}
.img-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.info-wrapper{
  max-width: 45%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 30px;
}
.info-link{
  text-decoration: none;
  color: #389aec;
}
.media-card{
  position: relative;
  transition: 2s ease ; /* Animation */
}
.media-card:hover{
transform: scale(1.1);
/* border:3px solid #389aec; */
}
.media-card:hover > .card-content {
display: none;
}
.card-content-extra{
  display: none;
}
.media-card:hover >.card-content-extra{
display: block;
}
.play-div{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 10px;
  margin-bottom: 30px;
}
.left{
  margin-bottom: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
}
.right{
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0;
}
